editor
buffer
*.tmp*
dialogs
.emacs.desktop
*.d
*.moc.cc
testgap
testing.txt
style
c_hilite
*.lex.backup
*.yy.cc
buffercore
historybuf
untitled.txt
*.o
tmp.cc
X11
Xm
smbase
qtbdffont
*.gen.*
editor-stable
*.exe
*.dll
.cproject
.project
.settings
*.gcov
*.gcda
*.gcno
config.mk
mutant-compile.sh
mut
mutant.cc
*.mutreport
.gdbinit*
td-core
test-named-td-list
test-justify
test-td-editor
textcategory
test-command-runner
test-named-td
test-nearby-file
test-td-core
test.out
events.out
