*.d
*.dll
*.exe
*.gcda
*.gcno
*.gcov
*.gen.*
*.lex.backup
*.moc.cc
*.mutreport
*.o
*.tmp*
*.yy.cc
*.yy.h
.cproject
.emacs.desktop
.gdbinit*
.project
.settings
.vscode
X11
Xm
buffer
buffercore
c_hilite
command-runner-test
config.mk
dialogs
editor
editor-stable
events.out
historybuf
justify-test
mut
mutant-compile.sh
mutant.cc
named-td-list-test
named-td-test
nearby-file-test
out
personal-make-cmd.sh
qtbdffont
smbase
style
td-core
td-core-test
td-editor-test
test-bufferlinesource
test-editor-strutil
test-hashcomment-hilite
test-makefile-hilite
test.out
testgap
testing.txt
text-search-test
textcategory
tmp.cc
untitled.txt
