[submodule "smbase"]
	path = smbase
	url = git@github.com:smcpeak/smbase.git
	branch = for-editor
[submodule "smflex"]
	path = smflex
	url = git@github.com:smcpeak/smflex.git
	branch = smflex
[submodule "smqtutil"]
	path = smqtutil
	url = git@github.com:smcpeak/smqtutil.git
	branch = for-editor
