*.d
*.dll
*.exe
*.gcda
*.gcno
*.gcov
*.gen.*
*.lex.backup
*.moc.cc
*.mutreport
*.o
*.tmp*
*.yy.cc
*.yy.h
.cproject
.emacs.desktop
.gdbinit*
.project
.settings
.vscode
X11
Xm
buffer
buffercore
c_hilite
config.mk
dialogs
editor
editor-stable
events.out
historybuf
mut
mutant-compile.sh
mutant.cc
named-td-list-test
nearby-file-test
out
personal-make-cmd.sh
qtbdffont
smbase
style
td-core
test-bufferlinesource
test-command-runner
test-editor-strutil
test-hashcomment-hilite
test-justify
test-makefile-hilite
test-named-td
test-td-core
test-td-editor
test-text-search
test.out
testgap
testing.txt
textcategory
tmp.cc
untitled.txt
