[submodule "smbase"]
	path = smbase
	url = ../smbase.git
	branch = for-editor
[submodule "smflex"]
	path = smflex
	url = ../smflex.git
	branch = smflex
[submodule "smqtutil"]
	path = smqtutil
	url = ../smqtutil.git
	branch = for-editor
[submodule "ast"]
	path = ast
	url = ../ast.git
	branch = for-editor
