# config.mk

# This file must set QT5INCLUDE, QT5LIB, and QT5BIN.  The simplest
# way to do that is to pull in the smqtutil configuration.  (That
# is not done automatically because config.mk might need to set
# the location of smqtutil.)
include smqtutil/config.mk

# EOF
